<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>shiksha tracker</title>

    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">

</head>

<body>
    <header>
        <div id="header" class="container">
            <div id="logo">
                <h1><a href="/">शिक्षा&nbsp-Tracker</a></h1>
            </div>
            <div id="menu">
                <ul>
                    <li><a href="/admindashboard" accesskey="1" title="">ADMIN HOME</a></li>
                    <li><a href="/viewall" accesskey="2" title="">VIEW ALL</a></li>
                    <li><a href="/search" accesskey="3" title="">SEARCH</a></li>
                    <li><a href="/delete" accesskey="4" title="">DELETE</a></li>
                    <li><a href="/logout" accesskey="5" title="">LOGOUT</a></li>
                </ul>
            </div>
        </div>
    </header>

    <br />
    <br /><br><br><br><br><br>
    <div>

    <h1 style="color:red;"> WELCOME ADMIN</h1>
    <h3> THIS IS ADMIN DASH BOARD </h3>

</div>



        

    <div id="copyright" class="container">
        <p>&copy; Untitled. All rights reserved. | Photos by Fotogrph</a> | Design by PRAMIT KUMAR DAS.</p>
    </div>

</body>

</html>